##
# Take note of http://wiki.nginx.org/Pitfalls
#

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	root /var/www/html/pics.torrents.bio;
	server_name pics.torrents.bio pics.biotorrents.de;

	ssl_certificate /etc/letsencrypt/live/torrents.bio/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/torrents.bio/privkey.pem;

	access_log off;
	error_log /var/log/nginx/pics.torrents.bio-error.log;

	location / {
		try_files /index.php =500;
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass unix:/var/run/php/php8.2-fpm.sock;
		fastcgi_index index.php;
		include /etc/nginx/params/fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

		# https://stackoverflow.com/a/23845727
		fastcgi_buffers 16 16k;
		fastcgi_buffer_size 32k;
	}

	location /thumb/ {
		try_files /index.php =500;
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass unix:/var/run/php/php8.2-fpm.sock;
		fastcgi_index index.php;
		include /etc/nginx/params/fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

		image_filter_buffer 50M;
		image_filter resize 400 400;

		# https://stackoverflow.com/a/23845727
		fastcgi_buffers 16 16k;
		fastcgi_buffer_size 32k;
	}

	# https://nginx.org/en/docs/http/ngx_http_access_module.html
	location ~ /.git/ {
		deny all;
	}
}
